@import url(https://fonts.googleapis.com/css?family=Cabin);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
  
:root {
  --fsm: 1; /* Font Size Multiplier */
  --primary-color: rgb(68,48,148); /* Purple Color */
}

p, a {
  font-size: calc(1em * var(--fsm)); /* 16px */  
}

.da-page-header {
  margin-top: 60px; 
}

h1 { 
  font-family: Cabin, arial, sans-serif;
  color: var(--primary-color); 
  font-size: calc(1.625em * var(--fsm)); /* 26px */
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
}

hr {
  margin-top: calc(30px * var(--fsm));
  margin-bottom: 10px;
}

h3 {
  font-family: Cabin, arial, sans-serif;
  color: var(--primary-color); 
  font-size: calc(1.125em * var(--fsm)); /* 18px */
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.header-num, .header-num-large {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: calc(1.25em * var(--fsm)); /* 20px */
  text-align: center;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  padding: 5px 10px 10px 10px;
}

.header-num-large {
  padding: 5px 10px 10px 8px !important;
}
  
.navbar{
  background-color: rgb(255,255,255) !important;
  height: 130px;
}

.navbar .nav-item a{
  font-family: Cabin, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 4px solid var(--primary-color) !important;
  border-radius: 4px !important;
  color: #000 !important;
  width: 100px;
  text-align: center;
  background-color: #FFF;
}

.navbar .nav-item a:hover, .navbar .nav-item a:active {
   background-color: #f2f2f2;
}

.navbar-toggler {
  border: 4px solid var(--primary-color) !important;
  border-radius: 4px !important;
  color: #000 !important;
}

.navbar-toggler > .navbar-toggler-icon {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1); 
}

/**
  Search Page
**/

.banner {
    width: 99.5vw;
    height: 400px;
    margin-left: calc(50% - 50vw);
    overflow-x: hidden;
    background-position: center;
  
    /* Image is only for visual reasons, and doesn't contribute to the page content so no alt */
    background-image: url('https://docassemble.flinders.edu.au/playgroundstatic/RSB/278/banner.jpg');

    box-shadow: inset 0 0 25px rgba(255,255,255,0.45);
    margin-top: 60px;
    margin-bottom: 0;
}

.search-center {
	width: clamp(50px, 60%, 600px);
  margin-left: calc(50% - (clamp(50px, 60%, 600px) / 2));
  margin-top: 100px;
  padding-top: 10px;
  overflow-x: hidden;
}

.search-center h1 {
	text-align: center;
  font-size: clamp(2em, 5vw, 3.25em); /* 60px */
  font-weight: 700;
  color: #FFF;
  margin-bottom: 40px;
}

#search-bar {
  width: 100%;
  box-sizing: border-box;
  background-image: url('https://docassemble.flinders.edu.au/playgroundstatic/RSB/278/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: calc(1em * var(--fsm)); /* 16px */
  padding: 14px 20px 12px 45px;
  border: 3px solid #ddd;
  border-radius: 30px;
}

#search-bar:focus, 
#search-content:hover + #search-bar, #search-content a:hover + #search-bar,
#search-content:active + #search-bar, #search-content a:active + #search-bar
{
  border-radius: 2px 2px 0 0;
  outline: none;
}

#search-bar:focus + #search-content, 
#search-content:hover, #search-content a:hover + #search-content,
#search-content:active, #search-content a:active + #search-content
{
	visibility: visible;
}

/* With the max height and Overflow hidden, it limits the links shown */
#search-content {
  width: clamp(50px, 60vw, 600px);
  visibility: hidden;
  position: absolute;
  background-color: #f6f6f6;
  overflow: hidden;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: calc(50px * 5); /* Maximum of 5 results shown */
}

#search-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
  cursor: pointer;
}

#search-content a:hover {
  background-color: #ddd;
}

/**
  Support Card in Search Page
**/

.support_card {
 margin-bottom: 15px; 
}

.card-btn {
  margin-left: calc(50% - 90px);
  display: block;
  width: 180px;
  height: 45px;
  margin-top: 10px;
  font-family: Cabin, arial, sans-serif;
  font-size: calc(1em * var(--fsm)); /* 16px */
  font-weight: 400;
  border: 2px solid #572C83 !important;
  border-radius: 4px !important;
  color: #000 !important;
  text-decoration: none !important;
  text-align: center;
  line-height: 40px;
}

.card-btn:hover, .card-btn:active {
   background-color: #f2f2f2;
}

#dasourcetoggle {
  display: none !important; 
}

@media screen and (max-width: 768px) {
  .banner {
    width: 100vw;
    height: 300px;
    margin-left: calc(50% - 50vw);
  }
}

@media screen and (max-width: 500px) {
  .banner {
    height: 150px;
  }
  
 .search-center h1 {
    font-size: clamp(1em, 5vw, calc(3.75em * var(--fsm))) !important; /* 60px */
    margin-bottom: 20px;
  }
  
  .search-center {
    margin-top: 30px;
  }
  
  #search-bar {
    height: 20px;
    background-position: 14px 6px;
    background-size: 14px;
  }
  
  #search-content a {
    padding: 6px 8px;
    font-size: 1em;
  }
}